@media (max-width: 768px) {
    .sidebar {
        display: none;
    }

    .container {
        margin-left: 0;
    }

    .slider-bar nav a {
        font-size: 14px;
        margin: 0 5px;
    }
}
